.bouncer-canvas {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(30, 30, 30, 1);
    background-color: rgba(220, 220, 220, 1);
}

.bouncer-player.body.color {
    display: none;
    background-color: rgba(250, 250, 100, 1);
}

.bouncer-player.eye.color {
    display: none;
    background-color: rgba(50, 50, 50, 1);
}

.bouncer-grid.color {
    display: none;
    border-color: rgba(30, 30, 30, 1);
}

.bouncer-grid.fields.obstacle {
    display: none;
    background-color: rgba(30, 30, 30, 1);
}

.bouncer-grid.fields.colors.red {
    display: none;
    background-color: rgba(220, 20, 20, 0.5);
}

.bouncer-grid.fields.colors.green {
    display: none;
    background-color: rgba(20, 220, 20, 0.5);
}

.bouncer-grid.fields.colors.blue {
    display: none;
    background-color: rgba(20, 20, 220, 0.5);
}
